*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    background: url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  /* min-height: 100vh; */
}
.search-input{
  width: 30%;
}
.degree{
  font-size: 9rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.Weather-details{
  color: white;
}
.box{
  /* border: 2px solid green; */
  color: white;
  background: rgba(0, 0, 0, 0.5)
}
.decs{
  line-height: 2px;
}
.next-days-details{
  border-bottom: 1px solid white;
}
@media (max-width: 991px) {
  .degree {
    font-size: 5rem;
  }
  .search-input{
    width: 50%;
  }
}

@media (max-width: 768px) {
  .degree {
    font-size: 4rem;
  }
  .search-input{
    width: 60%;
  }
  .main{
    margin: 0px 20px !important;
  }
  .Weather-details{
    margin-left: -5px;
  }
}
